<div class="col-md-12">
  <div class="card">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="name">name</label>
        <select
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          #name="ngModel"
        >
          <option selected>Open this select worker</option>
          <option *ngFor="let worker of workers">
            {{ worker.name }}
          </option>
        </select>
        <div class="alert-danger" *ngIf="f.submitted">
          <div *ngIf="name.errors?.['required']">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="amount">Cantidad $</label>
        <input
          type="number"
          class="form-control"
          name="amount"
          [(ngModel)]="form.amount"
          required
          #amount="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted">
          <div *ngIf="amount.errors?.['required']">La cantidad is required</div>
        </div>
      </div>
      <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary btn-block">Añadir</button>
      </div>
    </form>
  </div>
</div>
